.crop_manage_bg_img{
    background-image: url(Assets/articles/crop_managment_img.jpg); height: 500px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
}
.technology_bg_img{
    background-image: url(Assets/articles/tech_innovation_img.jpg); height: 280px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
}
@media(max-width:600px){
    .crop_manage_bg_img{
        height: 100%;
    }
    .technology_bg_img, .govt_schemes_bg_img, .market_update_bg_img{
        height: 100%;
    }
    .banner_img{
        width: 100%;
        height: 100%;
    }
    .banner_img img{
        display: none;
    }
    .techimg_div, .schemesimg_div, .marketimg_div{
        width: 100%;
        height: 300px;
        padding-bottom: 20px;
    }
    .govt_schemes_bg_img, .market_update_bg_img, .technology_bg_img{
        height: 100%; width: 100%;
    }
    .trends_scroll{
        margin-top: 550px;
    }
    .article_headings button{
        padding-right: 0px;
    }

    
}

@media(max-width:768px){
    .banner_img{
        width: 100%;
        height: 100%;
    }
    .techimg_div, .schemesimg_div, .marketimg_div{
        padding-bottom: 30px;
    }
}
.govt_schemes_bg_img{
    background-image: url(Assets/articles/govt_schemes_img.jpg); height: 200px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
}
.market_update_bg_img{
    background-image: url(Assets/articles/market_updates_img.jpg); height: 200px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
}
.banner_img{
    height: 85vh;
    background-image: url(Assets/articles/article_banner_bg.jpg);
    background-position: center; background-repeat: no-repeat; background-size: cover;
}