body{
    width: 100%; height: 100%;
    background-image: url(Assets/signup_bg_img.jpg);
    background-size: cover;
    padding-bottom: 30px; background-repeat: no-repeat;
}
.form_logo{
    height: 80px;
}