/*organic farming page*/
.farm_bg{
    width: 100%; height: 91vh;
    background-image:linear-gradient(to bottom, rgba(0, 128, 0, 0.24), rgba(0, 0, 255, 0.322)), url(Assets/Techniques/farm.jpg);
    background-position: center; background-repeat: no-repeat; background-size: cover;
    display: flex; justify-content: center; align-items: center;
}
.tech_banner_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media(max-width:600px){
    .farm_bg{
        height: 100%;
    }
    .farm_bg img{
        width: 100%;
    }
}
@media(max-width:768px){
    .farm_bg{
        height: 100%;
    }
    .farm_bg img{
        width: 100%;
    }
}
/* Vertical farming page*/
.crops{
    width: 80%;
}


.principle{
    border: 1px solid green;
    height: 300px;
}
.icons{
    display: flex; justify-content: center;
}
.princi_icon{
    border-radius: 50px;
}
